.topicOne {
    font-size: 30px;
}
  
.topicTwo {
    text-align: start;
    font-size: 30px;
}

.topicFour {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.topicFive {
    font-size: 15px;
    font-weight: normal;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.contentProfileEdit {
    margin-left: 20%;
    margin-right: 20%;
}

.headerProfileEdit {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
}

.imgProfileEdit{
    border-radius: 100%;
    width: 200px;
}

@media only screen and (max-width: 600px) { 

    .topicOne {
        font-size: 30px;
        text-align: center;
    }

    .topicTwo {
        font-size: 20px;
        text-align: center;
    }

    .topicThree {
        font-size: 15px;
        text-align: center;
    }

    .topicFive {
        font-size: 14px;
        text-align: center;
        margin-left: 4%;
        margin-right: 4%;
    }

    .headerProfileEdit {
        margin-top: 15%;
        margin-bottom: 5%;
        font-size: 25px;
    }
    
    .imgProfileEdit{
        border-radius: 50%;
        width: 100%;
        padding: 20px;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

}