.topicOne {
    font-size: 30px;
}

.topicTwo {
    text-align: start;
    font-size: 30px;
}

.topicFour {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.topicFive {
    font-size: 15px;
    font-weight: normal;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.contentParks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagePark {
    width: 40%;
    padding-top: 3%;
    padding-bottom: 40px;
}
  
.cotentPark {
    padding-left: 20%;
    padding-right: 20%;
}

.headName {
    margin-bottom: 40px;
}

.address {
    margin-bottom: 40px;
}

.working {
    margin-bottom: 40px;
}

.description {
    margin-bottom: 40px;
}

.leaderBoardHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

 
/* mobile */
  
@media only screen and (max-width: 600px) { 

    .topicOne {
        font-size: 30px;
        text-align: center;
    }

    .topicTwo {
        font-size: 20px;
        text-align: center;
    }

    .topicThree {
        font-size: 15px;
        text-align: center;
    }

    .topicFive {
        font-size: 14px;
        text-align: center;
        margin-left: 4%;
        margin-right: 4%;
    }

    .imagePark {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    
    .cotentPark {
        padding-left: 20px;
        padding-right: 20px;
    }

    .headName {
        margin-bottom: 20px;
    }

    .address {
        margin-bottom: 20px;
    }

    .working {
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 30px;
    }

}
  